<!DOCTYPE HTML html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>LogIn</title>

	<!--- CSS --->
	<link rel="stylesheet" href="{% static "css/style1.css" %}"type="text/css" />


	<!--- Javascript libraries (jQuery and Selectivizr) used for the custom checkbox --->

	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="{% static "js/jquery-1.7.1.min.js"%}"></script>
		<script type="text/javascript" src="{% static "js/selectivizr.js"%}"></script>
		<noscript><link rel="stylesheet" href="{% static "css/fallback.css"%}" /></noscript>
	<![endif]-->

	</head>

	<body>
		<div id="container">
			<form id="login_form" method="post" action="/dragon/Login/">
                  {%  csrf_token %}
				<div class="login">LOGIN</div>
				<div class="username-text">Username:</div>
				<div class="password-text">Password:</div>
				<div class="username-field">
					<input type="text" name="username" value="" />
				</div>
				<div class="password-field">
					<input type="password" name="password" value="" />
				</div>
				<input type="checkbox" name="remember-me" id="remember-me" /><label for="remember-me">Remember me</label>
				<div class="forgot-usr-pwd">Forgot <a href="#">username</a> or <a href="#">password</a>?</div>
				<input type="submit"  value="submit" />
			</form>
		</div>
		<div id="footer">
			Copyright &copy; 2014.Team Name: Dragon_Stone. All rights reserved.
		</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' 
charset='gb2312'></script></div>
</body>
</html>